anyio==4.13.0
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asttokens==3.0.1
async-lru==2.3.0
attrs==26.1.0
autocommand==2.2.2
Automat==25.4.16
babel==2.17.0
beautifulsoup4==4.14.3
bleach==6.3.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
comm==0.2.3
constantly==23.10.4
cryptography==48.0.0
decorator==5.3.1
defusedxml==0.7.1
distlib==0.4.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.29.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.18
importlib_metadata==9.0.0
Incremental==24.11.0
ipykernel==7.2.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
Jinja2==3.1.6
json5==0.14.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.1
jupyter_client==8.9.0
jupyter_core==5.9.1
jupyter_server==2.19.0
jupyterlab==4.5.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
libmsym==0.2.4
lit==22.1.6.dev0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.1
more-itertools==11.1.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.10.4
nest_asyncio==1.5.9
netsnmp-python==1.0a1
nftables==0.1
notebook_shim==0.2.4
OpenTimelineIO==0.18.1
packaging==26.2
pandocfilters==1.5.1
parso==0.8.6
pexpect==4.9.0
pkg_resources==81.0.0
platformdirs==4.10.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyaaf2==1.7.1
pycparser==3.0
pygdbmi==0.11.0.0
Pygments==2.20.0
PyGObject==3.56.3
PySide6==6.11.1
python-dateutil==2.9.0
python-discovery==1.4.0
python-json-logger==4.1.0
pytz==2026.1
PyYAML==6.0.3
pyzmq==27.1.0
QtPy==2.4.3
referencing==0.37.0
requests==2.34.2
rich==15.0.0
rpds-py==2026.5.1
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
Send2Trash==1.8.3
sentry-sdk==2.61.1
setuptools==82.0.1
shiboken6==6.11.1
shiboken6-generator==6.11.1
six==1.17.0
smbus==1.1
soupsieve==2.8.4
spglib==2.7.1.dev0+g12355c77f.d20260527
stack_data==0.6.4.dev0+g53501eb8b.d20251216
TBB @ file:///build/onetbb/src/build/python/python_build
tinycss2==1.5.1
tornado==6.5.6
traitlets==5.15.1
Twisted==26.4.0
typing_extensions==4.15.0
urllib3==2.7.0
VapourSynth==76
virtualenv==21.4.2
wcwidth==0.8.0
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.47.0
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
ytmusicapi==1.12.1
zipp==3.21.0
zope.interface==8.4
